<div class="container mt-4">
    @if (article$ | async; as articleData) {
    <div class="card">
        <div class="card-body">
            <!-- <h2 class="card-title mb-4">Article Details</h2> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center mb-4">
                        <h2 class="">Article Title</h2>
                        <p class="lead mb-3">{{articleData.data?.title}}</p>
                    </div>
                    <div class="my-4 article-img text-center">
                        <img src="{{articleData.data?.image}}" alt="article" class="rounded">
                    </div>
                    
                    <div class="article-info">
                        <h5 class="content-title">Content</h5>
                        <p class="mb-3 content-p">{{articleData.data?.content}}</p>
                        
                        <div class="row mt-4">
                            <div class="col-sm-6 mb-sm-0 mb-3">
                                <h5 class="create-title">Created At</h5>
                                <p class="mb-0 create-date">{{articleData.data?.created_at | date: 'yyyy-MM-dd'}}</p>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-end">
                                    <h5 class="create-title">Updated At</h5>
                                    <p class="mb-0 create-date">{{articleData.data?.updated_at | date: 'yyyy-MM-dd'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>


