<div class="container mt-4">
  @if (article$ | async; as articleData) {
  <div class="card p-8 shadow-2xl border rounded-[10px] sm:p-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center mb-4">
            <h2 class="">Article Title</h2>
            <p class="lead mb-3 text-gray-500 text-base">
              {{ articleData.data?.title }}
            </p>
          </div>
          <div class="my-4 article-img text-center">
            <img
              src="{{ articleData.data?.image }}"
              alt="article"
              class="rounded-xl mx-auto"
            />
          </div>

          <div>
            <h5 class="text-2xl font-semibold">Content</h5>
            <p class="mb-3 text-gray-500 text-base">
              {{ articleData.data?.content }}
            </p>

            <div class="row mt-4">
              <div class="col-sm-6 mb-sm-0 mb-3">
                <h5 class="text-xl font-medium">Created At</h5>
                <p class="mb-0 text-base">
                  {{ articleData.data?.created_at | date : "yyyy-MM-dd" }}
                </p>
              </div>
              <div class="col-sm-6">
                <div class="text-end">
                  <h5 class="text-xl font-medium">Updated At</h5>
                  <p class="mb-0 text-base">
                    {{ articleData.data?.updated_at | date : "yyyy-MM-dd" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  }
</div>
