.card-img {
  img {
    width: 100%;
  }
}

.card-body {
  h5 {
    text-transform: capitalize;
    @media (max-width:576px) {
      font-size: 16px;
    }
  }
  .article-content {
    font-size: 15px;
    color: #858585;
    text-transform: capitalize;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @media (max-width:576px) {
      font-size: 13px;
    }
  }
  .article-date {
    font-size: 15px;
    font-weight: 600;
    @media (max-width:576px) {
      font-size: 13px;
    }
  }
}
