<div class="container">
    <div class="row my-4 border rounded" [routerLink]="['/view', article.id]" style="cursor: pointer;">
        <div class="col card-img">
            <img src="{{article.image}}" alt="article">
        </div>
        <div class="col">
            <div class="card-body">
                <p>{{article.title}}</p>
                <p>{{article.content | truncate}}</p>
                <p>{{article.created_at | date: 'yyyy-MM-dd'}}</p>
            </div>
        </div>
    </div>
</div>