/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
$red: red;
$primary: #ff5733;

@import 'bootstrap/scss/bootstrap';
@import "tailwindcss";

.invalid-feedback {
    display: block;
    color: $red;
}

.btn-primary{
    background-color: $primary;
    color: white;
}